
body {
    overflow-x: auto;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
}

#caribou-chart {
    display : block;
    margin : 0 auto;
    text-align: left;
    width: 1000px;
    height: 800px;
    padding-top: 50px;
}
