
/***********/
/* General */
/***********/

body {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

/*******/
/* SVG */
/*******/

.svg-container-center {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

#hierarchy {
    border: 1px solid purple;
    height: 90vh;
    width: 90vw;
}

#hierarchy-svg {
}

/********/
/* temp */
/********/

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
