
/*****************/
/* Custom Fonts  */
/*****************/

/* Raleway */

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/***********/
/* General */
/***********/

body {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

/****************/
/* Text Display */
/****************/

table {
    width: 100vw;
    padding-left: 2vw;
    padding-right: 2vw;
    background: linear-gradient(130deg, #503b94 0%, #530D8C 50%, #503b94 100%);
}

#text-display {
    height: 88vh;
    overflow-y: auto;
    position: absolute;
    margin-top: 70px;
    margin-bottom: 30px;
}

#text-display p {
    color: #bf9d2e;
    padding-left: 2vw;
    padding-right: 5vw;
}

#text-display p a {
    color: #e8bf38;
    padding-left: 2vw;
    padding-right: 5vw;
}

/**************/
/* Header Row */
/**************/

#header-row {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #352270;
    color: rgba(200, 200, 200, 1.0);
}

#header-row ul {
    align-items: center;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

#header-row li {
    float: left;
}

#header-row li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #D4AF37;
    transition: all 0.3s;
}

#header-row a:hover {
    background-color: #281940;
}

/*******/
/* SVG */
/*******/

.svg-container-center {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
}

#hierarchy {
    border: 5px solid #352270;
    height: 88vh;
    width: 100%;
}

#hierarchy-svg {
}

.node {
    r: 5;
    stroke-width: 1;
    transition: fill 0.2s, r 0.2s;
}

.node-expandable {
    stroke: #D4AF37;
    fill: #190cab;
}

.node-leaf {
    stroke: black;
    fill: #D4AF37;
}

.node:hover {
    fill: #00ccff;
    r: 8;
}

.node:active {
    fill: #a30098;
}

.direct-edge {
    stroke: black;
    stroke-width: 3;
    stroke-opacity: 1;
    transition: all 0.2s;
}

.direct-edge-highlighted {
    stroke: #00b8c2;
    stroke-width: 7;
}

.indirect-edge {
    stroke: #ff00bb;
    stroke-width: 4;
    stroke-opacity: 0.25;
    transition: all 0.2s;
}

.indirect-edge-highlighted {
    stroke-opacity: 1;
    stroke-width: 6;
}
