
/***********/
/* General */
/***********/

body {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

/*******/
/* SVG */
/*******/

.svg-container-center {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

#hierarchy {
    border: 1px solid purple;
    height: 90vh;
    width: 90vw;
}

#hierarchy-svg {
}

.node {
    fill: red;
    r: 10;
    transition: fill 0.2s, r 0.5s;
}

.node:hover {
    fill: darkred;
    r: 15;
}

.node:active {
    fill: red;
}

.edge {
    stroke: black;
    stroke-width: 5;
    stroke-opacity: 1;
}

.direct-edge-highlighted {
    stroke: #00bfff;
}

.indirect-edge {
    stroke: #2c7500;
    stroke-width: 8;
    stroke-opacity: 0.1;
}

.indirect-edge-highlighted {
    stroke-opacity: 1;
}
