body {
    margin: 0px;
    overflow: hidden;
}

circle {
    fill: red;
    opacity: 0.5;
}

text {
    font-family: sans-serif;
    font-size: 1.8em;
}

.tick text {
    fill: #635F5D;
}

.tick line {
    stroke: #C0C0BB;
}

.axis-label {
    font-family: sans-serif;
    font-size: 3.5em;
    fill: #635F5D;
}

.chart-title {
    font-size: 3em;
    fill: #635F5D;
}
