
@import url('https://fonts.googleapis.com/css?family=Karla');

html {
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    color: #fff;
    position:relative;
    background: linear-gradient(-45deg, #07080F, #381020, #0d4766, #5c5238, #6A3847, #32385F);
    background-size: 800% 800%;
    animation: background-shift 120s ease-in-out infinite;
    font-family: 'Karla', sans-serif;
}

@keyframes background-shift {
    0% {
	background-position: 0% 50%;
    }
    50% {
	background-position: 100% 50%;
    }
    100% {
	background-position: 0% 50%;
    }
}

table {
    border-spacing: 0px;
}

#help-display {
    position: fixed;
    transition: all 0.5s;
    top: -200vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    overflow-y: auto;
    border: 1px solid #2c80d1;
    border-radius: 3px;
    background: #3e5063;
    text-align: center;
}

#help-display.show {
    top: 10vh;
}

#help-display h2 {
    padding-top: 40px;
}

#help-display p {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#help-display a {
    color: #eee;
}

#visualization-table {
    position: fixed;
    transition: all 0.5s;
    top: -200vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
}
 
#visualization-table.show {
    top: 10vh;
}

#visualization-display {
    width: 50vw;
    height: 80vh;
    transition: all 0.5s;
    overflow-y: hidden;
    border: 1px solid #2c80d1;
    border-radius: 3px;
    background: #3e5063;
    text-align: center;
}

#visualization-text-display {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    border: 1px solid #2c80d1;
    border-radius: 3px;
    background: #3e5063;
    text-align: center;
}

#visualization-text-display * {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.borough-path {
    transition: all 0.25s;
    stroke-width: 0.5px;
    stroke: black;
    stroke-opacity: 1.0;
    fill-opacity: 1.0;
    stroke: #73223b;
}

.borough-path:hover {
    fill-opacity: 0.5;
}

.zip-code-path {
    transition: stroke-opacity 1.0s, fill-opacity 0.5s;
    fill: #000;
    fill-opacity: 0.0;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke: #73223b;
}

.zip-code-path:hover {
    fill-opacity: 0.5;
}

.crash {
    transition: all 0.5s;
    r: 2;
    stroke: #73223b;
    stroke-width: 0.3px;
}

.borough-text {
    font-size: 15px;
    text-anchor: middle;
    fill: #eee;
}

.borough-text-bounding-box {
    stroke-width: 1;
    stroke-linejoin: round;
    stroke: #fff;
    fill: #2c80d1;
}

#tooltip {
    top: -200vh;
    left: -200vw;
    position: absolute;
    transition: all 0.25s;
    text-align: center;
    font-size: 0.875rem;
    background: #182A39;
    border-radius: 8px;
    pointer-events: none;
    padding: 10px;
    z-index: 2;
}

#tooltip p {
    margin: 0;
    padding: 0;
}

#header-row {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: background-color 0.25s;
    z-index: 3;
    box-shadow: 1px 1px 1px #2c80d1;
    background: #3e5063;
}

#header-row ul {
    align-items: center;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

#header-row li {
    transition: all 0.25s;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 17px;
    padding-bottom: 17px;
    float: left;
    list-style-type: none;
}

#header-row a li {
    transition: all 0.25s;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#header-row li:hover {
    background: #666;
}

#header-row a li:active {
    color: #222;
}

.date-change-button {
    transition: all 0.5s;
    display: inline-block;
    transition: all 0.5s;
    border: 1px solid #2c80d1;
    border-radius: 3px;
    background: #3e5063;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.date-change-button:hover {
    border-color: #fff;
}

.date-change-button:active {
    transform: translateY(5px);
}
